:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #000000;
    --accent-color: #2196f3;
    --active-btn-color: #188ce8;
    --background-btn-color: #f5f4fa;
    --white-color: #ffffff;
    --background-color: #2f303a;
    --background-team-color: #f5f4fa;
    --mail-tel-color: rgba(255, 255, 255, 0.6);
    --background-hero-color: rgba(47, 48, 58, 0.4);
    --icon-color: #afb1b8;
    --card-set-gap: 30px;

    --font-raleway: "Raleway";
    
  }

